<!DOCTYPE html>
<html>

  <head>
    <title>Task Organizer</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <div id="overArching">
      <h4>Task Organizer</h4>
      <div id="main" class="wrapper"></div>
    </div>
    <div class="footer">
      <p style="font-size: 12px;">[ 100% vanilla Javascript ]</p>
      <span>2018 | All rights erm forget it.</span>
    </div>
  </body>

</html>
