body {
background-color:#639fb6;
text-align:center;
font-size:11px;
//border:1px solid #000;
font-family:Metrophobic, sans-serif;
}

h4 {
font-size:14px;
text-align:left;
padding-left:3px;
}

.projTitle {
color:#FFF;
height:15px;
padding:2px 0;
}

.showEl {
color:#FFF;
font-size:11px;
}

.showEl2 {
color:#1a3547;
float:right;
padding-right:5px;
}

input > .showEl {
display:initial;
color:red;
}

input {
outline:0;
font-size:11px;
text-align: center;
}

input.titleInput {
margin-top: 5px;
width: 70px;
height: 15px;
font-size:10px;
text-align: center;
border-radius:1px;
border: 0;
}

.projectBoard {
background-color:#1a3547;
border-radius:3px;
padding:1px;
cursor: pointer;
}

.projRemover {
color:#ce5d6e;  
}

.projTask {
color:#54565a;
background-color:#FFF;
border-radius:2px;
margin:4px;
padding:4px;
}

.projTask:hover {
background-color:#DEDFDF;
}

.addTask {
font-size:10px;
color:grey;
margin:5px 2px;
}

.addProject {
font-size:10px;
padding-top:5px;
color:grey;
position:relative;
top:2px;
}

.wrapper {
display:grid;
grid-column-gap:5px;
grid-template-columns:repeat(8,120px);
grid-template-rows:1fr;
}

.hide_A_Moment {
opacity:0;
}

.footer {
padding-top:20px;
height:20%;
}

.showEl:hover,.projTask:hover > .showEl,.showEl2:hover,.projTitle:hover > .showEl2 {
color:#ce5d6e;
}