<!DOCTYPE html>
<html>

  <head>
    <title>Task Organizer</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

    <div id="main-div">
      <h4>Task Organizer</h4>
      <div id="main" class="wrapper"></div>
    </div>

    <div class="footer">
      <p style="font-size: 12px;">[ 100% vanilla Javascript ]</p>
      <span>2018 | All rights erm forget it.</span>
    </div>

  </body>

  <script type="module" src="/javascripts/functions/create-element.js"></script>
  <script type="module" src="/javascripts/functions/store-project.js"></script>
  <script type="module" src="/javascripts/initial.js"></script>

</html>
